/* App.css */

.App {
  text-align: center;
}

header {
  background-color:  #92a8d1;
  color: white;
  padding: 20px;
}

main {
  padding: 20px;
}

footer {
  background-color: #92a8d1;
  color: white;
  padding: 10px 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.grid-item {
  background-color: hsla(89, 43%, 51%, 0.3);
  padding: 20px;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.flex-item {
  background-color: #f18973;
  padding: 20px;
  margin: 0 10px;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 480px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
  }
}

